<div class="">
  <div class="container" style="background: white">
    <!-- <div class="text-center">
      <img
        src="./assets/images/odish-govt-logo.jpg"
        alt="Odisha Govt. Logo"
        style="width: 60px; height: 70px"
      />
    </div> -->
    <div class="row text-center">
      <div class="col-md-4 my-auto">
        <div class="row mx-auto">
          <div class="col-md-2 text-center my-auto" style="padding: 0px">
            <img
              src="./assets/images/odish-govt-logo.jpg"
              alt="Odisha Govt. Logo"
              style="width: 60px; height: 70px"
            />
          </div>

          <div class="col-md-7 text-center my-auto p-0" style="padding: 0px">
            <h4 style="margin-top: 10px">Government of Odisha</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-auto mt-3">
        <h4 style="color: rgb(4, 72, 139)">Electric Vehicle Cell (EVC)</h4>
        <p>(Under Odisha Electric Vehicle Policy-2021)</p>
      </div>
      <div class="col-md-4 my-auto text-center">
        <h4>State Transport Authority, Odisha</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background: #81b079; color: white">
    <div class="container">
      <nav class="navbar">
        <div class="col-md-6">
          <button
            mat-stroked-button
            class="mt-1"
            style="border: 1px solid white; border-radius: 5px"
            routerLink="/dashboard/service-info"
            routerLinkActive="active"
          >
            Electric Vehicle Service Information</button
          >&nbsp;
          <button
            class="mt-1"
            mat-stroked-button
            style="border: 1px solid white; border-radius: 5px"
            routerLink="/dashboard/status"
            routerLinkActive="active"
          >
            Application Status
          </button>
        </div>
        <div class="col-md-6 text-end mt-1">
          <button
        mat-raised-button
        class="btn btn-sm pt-0 pb-0"
        [ngStyle]="{
          'background-color': 'rgba(0,5,255,0.38)',
          color: 'white',
          opacity: '0.9',
          'padding-top': '0px'
        }"
        (click) ="increaseFontSize()"
      >
       <label
          class="d-none d-md-inline"
          >A+</label
        ></button>
        &nbsp;
        <button
        mat-raised-button
        class="btn btn-sm pt-0 pb-0"
        [ngStyle]="{
          'background-color': 'white',
          color: 'black',
          opacity: '0.9',
          'padding-top': '0px'
        }"
        (click) ="setNormalFontSize()"
      >
       <label
          class="d-none d-md-inline"
          >A</label
        ></button>
        &nbsp;
        <button
        mat-raised-button
        class="btn btn-sm pt-0 pb-0"
        [ngStyle]="{
          'background-color': 'rgba(147, 51, 210, 0.38)',
          color: 'white',
          opacity: '0.9',
          'padding-top': '0px'
        }"
        (click) ="decreaseFontSize()"
      ><label
          class="d-none d-md-inline"
          >A-</label
        ></button>
          &nbsp;
          <button mat-raised-button color="warn" routerLink="/login">
            Login<mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>
