<div class="container" style="background: white">
  <div class="row text-center">
    <div class="col-md-4 my-auto">
      <div class="row">
        <div class="col-md-3 text-end my-auto">
          <img src="./assets/images/odish-govt-logo.jpg" alt="Odisha Govt. Logo" style="width: 60px; height: 70px" />
        </div>

        <div class="col-md-9 text-start my-auto p-0">
          <h4>Government of Odisha</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 my-auto mt-3">
      <h4 style="color: rgb(4, 72, 139)">Electric Vehicle Cell (EVC)</h4>
      <p>(Under Odisha Electric Vehicle Policy-2021)</p>
    </div>
    <div class="col-md-4 my-auto text-center">
      <h4>State Transport Authority, Odisha</h4>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: #81b079; color: white">
  <div class="container">
    <nav class="navbar">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <div class="my-auto p-1">
            <img src="./assets/images/account.svg" alt="Account" height="20" width="20" />
            {{ username }}
          </div>
          <div class="my-auto p-1">
            <button mat-raised-button color="warn" (click)="onLogout()">
              SIGN OUT <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container mt-2">
  <mat-tab-group>
    <mat-tab label="DDO Pending List">
      <mat-card>
        <table mat-table [dataSource]="rectifiedSource">
          <ng-container matColumnDef="Sl No.">
            <th mat-header-cell *matHeaderCellDef>Sl No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="Application Number">
            <th mat-header-cell *matHeaderCellDef>Application Number</th>
            <td mat-cell *matCellDef="let element">{{ element.applNo }}</td>
          </ng-container> -->

          <ng-container matColumnDef="Beneficiary ID">
            <th mat-header-cell *matHeaderCellDef>Beneficiary ID</th>
            <td mat-cell *matCellDef="let element">{{ element.regnNo }}</td>
          </ng-container>

          <ng-container matColumnDef="Beneficiary Name">
            <th mat-header-cell *matHeaderCellDef>Beneficiary Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Beneficiary Account Number">
            <th mat-header-cell *matHeaderCellDef>Beneficiary Account Number</th>
            <td mat-cell *matCellDef="let element">{{ element.accNo }}</td>
          </ng-container>

          <ng-container matColumnDef="IFSC">
            <th mat-header-cell *matHeaderCellDef>IFSC</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ifsc }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Bill No.">
            <th mat-header-cell *matHeaderCellDef>Bill No.</th>
            <td mat-cell *matCellDef="let element">{{ element.billNo }}</td>
          </ng-container>

          <ng-container matColumnDef="Subsidy Amount">
            <th mat-header-cell *matHeaderCellDef>Subsidy Amount</th>
            <td mat-cell *matCellDef="let element">{{ element.subAmnt }}</td>
          </ng-container>

          <ng-container matColumnDef="Revert Reason">
            <th mat-header-cell *matHeaderCellDef>Revert Reason</th>
            <td mat-cell *matCellDef="let element">{{ element.evErr }}</td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button *ngIf="element.ddoCheckStatus == 'y'" class="btn btn-success">
                <mat-icon>check_circle</mat-icon> Checked
              </button>
              <button mat-raised-button *ngIf="element.ddoCheckStatus != 'y'" class="btn btn-primary" (click)="onCheck(element)">
                <mat-icon>check_circle</mat-icon> Check
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>